body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

.header {
    padding: 2% 4%;
    background-color: #8D7B68;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 5%;
    text-decoration: none;
}

.navbar a {
    font-size: 1em;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    margin-left: 50px;

}

.navbar a:hover {
    color: black;

}

h1 {
    font-size: 80px;
    margin: 0;
    padding-top: 8%;
    padding-bottom: 30pxpx;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #8D7B68;
}

p {
    font-family: 'Merriweather', serif;
    padding: 2%;
}


hr {
    color: #8D7B68;
    width: 2%;
    border-style: none;
    border-top: dotted;
    border-top-width: 6px;
    padding: 1%;
}

.top-container {
    background-color: #8D7B68;
}

.bottom-container {
    background-color: #8D7B68;
    padding: 40px 30px 10px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 50px;
    text-align: left;
    line-height: 2;
}

.footer-link {
    padding: 4%;
    text-decoration: none;
    color: #000;
}

.footer-link:hover {
    color: #fff;
}

.space-car {
    width: 120px;

}

.mars {
    width: 325px;
    padding: 4%;
}

.man {
    width: 170px;
    padding-top: 30px;
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.consel-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.footer-paragraph {
    margin: 0;
    padding-bottom: 0;
    font-size: 14px;
}

.btn {
    border: none;
    border-radius: 8;
    border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    background: #8D7B68;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 2%;
    margin-bottom: 5%;
}

.btn:hover {
    background: #806c58;
    text-decoration: none;
}
@media (max-width:640px){
    .space-car{
        display:none;
    }
}